@import "styles/mixins";

@mixin button-style {
  cursor: pointer;
  display: none;
  width: 20rem;
  line-height: 5.6rem;
  @include lg {
    display: block;
  }
}

.header {
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
  @include lg {
    justify-content: space-around;
    padding: 1.5rem;
  }

  .left {
    display: flex;
    align-items: center;

    .logo {
      cursor: pointer;
      width: 70%;

      @include lg {
          width: 80%;
        }
    }
  }

  .right {
    display: flex;
    align-items:center;

    ul {
      display: none;
      font-size: 1.8rem;
      padding: unset;
      margin: 0 auto;
      @include lg {
        display: flex;
      }

      li {
        @include lg {
          display: inline-block;
          cursor: pointer;
          text-align: center;
          padding: 1rem 2rem;
        }
      }
    }

    .button-item {
      width: 30%;
      color: $white;
      text-align: center;
      font-size: 1.6rem;
      display: flex;

      .registration-button {
        @include button-style;
        background-color: $primary;
        border-top-left-radius: 5rem;
        border-bottom-left-radius: 5rem;
      }

      .mypage-button {
        @include button-style;
        background-color: $secondary;
        border-top-right-radius: 5rem;
        border-bottom-right-radius: 5rem;
      }
    }

    .menu-icon {
      margin-right: 5rem;
      display: flex;
      cursor: pointer;
      border: 1px solid $primary;
      background-color: $primary;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      align-items: center;
      top: 0;
      z-index: 300;
      @include lg {
        display: none;
      }
    }

    .menu-modal {
      position: fixed;
      top: 0;
      right: 0;
      z-index: 200;
      @include lg {
        display: none;
      }
    }
  }
}