.main-visual {

    .inner {
        margin: 0 auto;
        background-image: url("../../public/images/index/mainvisual.png");
        background-size: cover;
        height: 50rem;
        h1 {
            position: relative;
            writing-mode: vertical-rl;
            color: white;
            left: 20rem;
            top: 10rem;
            line-height: 3.5rem;
        }

    }
}